@use "../utils/variables" as u;

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #232e33;
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: #a2c0ce;
  border-radius: 6px;
  border: 6px solid #4cece4;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: #4cece4 #232e33 ;
  }
}
