// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
///@type String
$main-font: "Oxanium", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
//second font
///@type String
$second-font: "Sora", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/* ------------------------------------- */
/// Copy text color
/// @type Color
$text-1: rgb(34, 34, 34) !default;
/// @type Color
$text-2: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;
/// @type Color
$second-color: rgb(229, 0, 80) !default;
/// @type Color
$third-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;
/* ------------------------------------- */

/// Container's maximum width
/// @type Length
$max-width: 64rem !default;

//font
$color-1: #0d2725;
$color-2: #dddddd;
$color-3: #9b9b9b;
$color-4: #50f7ef;
$color-5: #4cece4;
$color-6: #19f1f1;

//button
$btn-1: #1de6ed;
$btn-2: #008888;

/// Breakpoints navbar
$navbar-heights: (
  "desktop": 80px,
  "tablet": 70px,
  "mobile": 60px,
);

$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
  "xlarge": 1280px,
) !default;

/// Spacing map - non text
/// -> map-get(ut.$spacing, "key");
$spacing: (
  "xs": 4px,
  "sm": 8px,
  "md": 12px,
  "lg": 16px,
  "xl": 24px,
  "xxl": 28px,
  "3xl": 40px,
  "4xl": 60px,
  "5xl": 100px,
  "6xl": 160px,
  "7xl": 240px,
) !default;

/// Sizing map
/// map-get(ut.$sizing, "key");
$sizing: (
  "xs": 0.25rem,
  "sm": 0.5rem,
  "md": 0.75rem,
  "lg": 1rem,
  "xl": 1.25rem,
  "xxl": 1.75rem,
  "3xl": 2.5rem,
  "4xl": 3.75rem,
  "5xl": 6.25rem,
  "6xl": 10rem,
  "7xl": 15rem,
) !default;
